.content_pict{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 112px 0 150px 0;
}
  .pictires a{ 
   display: block;
   }

.pictures_img{
 width: 100%;
 transform: scale(0.9);
                        }


* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../font/Myriad Pro Regular.ttf");
}

.pic_1{
	position:absolute;
	margin-left:451px;
	margin-top:35px;
}
.pic_2{
	position:absolute;
	margin-left:647px;
	margin-top:18px;
}

.pic_3{
	position:absolute;
	margin-left:852px;
	margin-top:68px;
}
.pic_4{
	position:absolute;
	margin-left:475px;
	margin-top:330px;
	transform: scale(0.7);
}
.pic_5{
	position:absolute;
	margin-left:776px;
	margin-top:280px;
	transform: scale(0.7);
}
.title h1{
 font-family: 'Myriad Pro Regular', sans-serif;
 font-size: 85px;
 color:rgb(47,47,47);
 width: 29%;
 margin: 55px auto;
 margin-bottom: 5px;
 text-align: center;
 text-transform: uppercase;

}
.btn_knopka{
 max-width:180px;
 border: 2px solid rgb(246,246,248);
 text-align: center;
 margin: 0 auto;
 padding: 15px 0 15px 0;

}
.btn_knopka a{
font-family: 'Myriad Pro Regular', sans-serif;
text-transform: uppercase;
color:rgb(43,43,43);
text-decoration: none; 
font-weight: 600;
}

.btn_knopka:hover{
  background-color:rgb(243,244,245);
  opacity: 0.9;
 
}

.header-icon{
  display: flex;
}
.socials {
	padding-top:15px;
	padding-left:32px;
  display: flex;
  margin: 0px auto;
}
.socials a{
	display: block;
}
a.boock:hover{
  width: 40px;
  height: 40px;
  border: 0 none;
  background-color:rgb(122,74,75);
  opacity: 0.9;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
}
a.wk:hover{
  width: 40px;
  height: 40px;
  border: 0 none;
  background-color:rgb(122,74,75);
  opacity: 0.9;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
}
a.tw:hover{
  width: 40px;
  height: 40px;
  border: 0 none;
  background-color:rgb(122,74,75);
  opacity: 0.9;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
}
.socials .boock{
  width: 40px;
  height: 40px;
  border: 2px solid rgb(175,166,160);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
  background: url("../img/bock.png") no-repeat center;
}
.socials  .wk{
  width: 40px;
  height: 40px;
  border: 2px solid rgb(175,166,160);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
  background: url("../img/vk.png") no-repeat center;
}
.socials  .tw {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(175,166,160);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
  background: url("../img/tw.jpg") no-repeat center;
}
body{
    margin:0;
}
ul li {
  list-style: none; }

#header{
    width:100%;
}
.container_wrapper{
    background: #000 url(../img/ledis.png)  no-repeat;
    background-position: center top / cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
    height:695px;
    min-width: 1345px;
}
.position_block_header{
       max-width: 1345px;
       margin:0 auto;
}
.header_menu_main{
max-height:92px;
border-bottom: 2px solid rgba(189, 187, 188, 0.15);
background: rgba(246, 246, 246, 0.50);
}

.logo{ 
		margin-top:-15px;
    float: left;
    transform: scale(0.7);
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
/* nav styles start */
.nav{
	margin-left: 45px;
	margin-top:20px;
  float: left;
}
.nav li{
     display: inline-block;
}
.nav a{
	  font-family: 'Roboto-Medium', sans-serif;
    color:#000;
    font-size: 13px;
    font-weight: 500;
    margin-left: 22px;
    text-transform: uppercase; 
    text-decoration:none; 
}
.nav li a:hover,
.nav li.active a{
    color:#BEBEBE;
    text-decoration:none;
}
